{% load static %}


{% block body%}


{% include 'navigation.html' %}

<script>
    function checkpass() {
        if (document.signup.pwd.value != document.signup.cpwd.value) {
            alert('password and confirm password field does not match');
            document.signup.cpwd.focus();
            return false;
        }
        return true;
    }
</script>

<marquee
    style="font-family: 'courier' ;font-size: 25px; color: white;font-weight: bold;margin-top: 1%;background-color:blue;">
    Blue Core Technology "Users signup"
</marquee>
<hr>
<form class="container mt-5" onsubmit="return checkpass();" name="signup" method="post" enctype="multipart/form-data">

    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Name</label>
            <input type="text" class="form-control" name="fname" placeholder="Enter First Name" required>

        </div>
        <div class="form-group col-md-6">
            <label>Last Name</label>
            <input type="text" class="form-control" name="lname" placeholder="Enter Last Name" required>

        </div>

    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label>Contact Number</label>
            <input type="text" class="form-control" name="contact" placeholder="Enter Contact Number" required>

        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label>Email ID</label>
            <input type="text" class="form-control" name="email" placeholder="Enter Your Email ID" required>

        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Password</label>
            <input type="password" class="form-control" name="pwd" placeholder="Enter your password" required>

        </div>
        <div class="form-group col-md-6">
            <label>Confirm Password</label>
            <input type="password" class="form-control" name="cpwd" placeholder="type to confirm" required>

        </div>
        <div class="form-group col-md-6">
            <label>Gender</label>
            <div style="border:1px solid lightgrey ;padding :6px ;border-radius:6px">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customcontrolinline1" name="gender" class="custom-control-input"
                        value="male">
                    <label class="custom-control-label" for="customcontrolinline1">Male</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customcontrolinline2" name="gender" class="custom-control-input"
                        value="female">
                    <label class="custom-control-label" for="customcontrolinline2">Female</label>
                </div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label>Image</label>
            <input type="file" class="form-control" name="image" required>

        </div>

    </div>
    <input type="submit" value="Login" class="btn btn-primary mr-3" style="width: 200px;">
</form>

{% include 'footer.html' %}


{% if error == "no" %}
<script>
    alert("Signup successful.");
    window.location=('{% url "recruiter_signup" %}')
</script>

{% endif  %}

{% if error == "yes" %}
<script>
    alert("Something went wrong .try again...");
</script>
{% endif %}

{% endblock %}